body {
	color: white; 
	box-sizing: border-box;
}
a {
	color: white;
}
/*header*/
header {
	position: fixed;
	top: 0;
	display: flex;
	margin: 0vw;
	width: 100%;
	height: 6vh;
	/*do not put background color here, it will not work*/	
}
figure#logo {
	background-color: #152238;
	float:left;
	margin: 0px;
	width: 6%;
	height: 5.5vw;
	margin: 0px;
	padding: 0px;
}
figure#logo img {
	width: 5vw;
	padding: 0.25vw;
}
#title {
	background-color: #152238;
	font-family: Roboto, Arial, sans-serif;
	margin-top: 0px;
	padding: 0px;
	float: left;
	width: 64%;
	height: 5.5vw;
}
div#title h1 {
	font-size: 4vw;
	padding: 0.5vw;
	margin: 0px;
}
nav {
	background-color: #152238;
	float: left;
	width: 30%;
	height: 5.5vw;
	box-sizing: border-box;
	margin: 0px;
}
nav p {
	font-family: Roboto, Arial, sans-serif;
	float: left;
	text-align: right;
	font-size: 2.5vw;
	margin: 0px;
	padding: 1.5vw;
}
/*content*/
section {
	width: 100%;
	height: 89vh;
	padding: 10px;
	margin: 5.5vh 0;
	box-sizing: border-box;
	background-image: url("../images/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%, 100%;
	background-color: black;
}
article p#caption {
	font-family: "Open Sans", Arial, sans-serif;
	text-align: center;
	font-size: 40px;
	height: 100%;
	width: 80%;
	margin: 4% 10%;
	padding: 3px;
}
article p#additional_info {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 22px;
	text-align: center;
	width: 80%;
	margin: 2% 10%;
	padding: 3px;
}
aside p {
	border: 3px solid white;
	width: 70%;
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif;
	padding: 5px;
	margin: 1% 15%;
	font-size: 32px;
	color: white;
}
/*footer*/
footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 5.5vh;
	width: 100%;
}
span {
	margin: 0px;
	padding: 0px;
	/*100%/2 (number of elements in the footer) = 50%*/
	width: 50%;
	height: 5.5vw;
	float: left;
	background-color: #152238;
}
span a {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 2vw;
	display: block;
	/*display: block makes the text-align work*/
	text-align: center;
	padding: 1.25vw;
}
