body {
	color: white; 
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: white;
	text-decoration: underline;
}
/*content*/
section#content {
	align-items: center;
	width: 100%;
	height: calc(100vh - 80px);
	/*subtract 80px for the header to avoid overlapping*/
	box-sizing: border-box;
	background-image: url("../images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
article p#caption {
	font-family: "Open Sans", Arial, sans-serif;
	text-align: center;
	margin-top: 80px;
	padding: 3%;
	font-size: 40px;
}
article p#additional_info {
	font-family: "Open Sans", Arial, sans-serif;
	text-align: center;
	padding: 0 4% 1% 4%;
	font-size: 24px;
}
p#redirect-container {
	border: 3px solid white;
	width: 70%;
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif;
	padding: 5px;
	margin: 1% 15%;
	font-size: 32px;
	color: white;
}
/*organizations*/
#section-organizations {
	width: 100%;
	background-color: #1C2D4A;
	box-sizing: border-box;
	padding-bottom: 5%;
}
h2#org-caption {
	font-family: Roboto, Arial, sans-serif;
	text-align: center;
	padding-top: 3%;
	font-size: 40px;
}
#section-organizations p {
	font-family: "Open Sans", Arial, sans-serif;
	text-align: center;
	width: 60%;
	margin: auto;
	padding-bottom: 3%;
	font-size: 20px;
}
div#organization {
	display: inline-block;
	width: 33%;
	text-align: center;
	position: relative;
}
img#org-pic {
	border-radius: 50%;
	margin-bottom: 20px;
}
div#organization a {
	background-color: white;
	border-radius: 20px;
	color: black;
	padding: 10px;
	font-size: 16px;
	font-family: "Open Sans", Arial, sans-serif;
}
div#hide {
	display: none;
}
div#organization:hover {
	transform: scale(1.1);
}
/*will make the information about the orgs appear when you hover around the div*/
div#organization:hover #hide {
	display: block;
	background-color: #273F68;
	width: 50%;
	padding: 1%;
	margin: 5% auto;
	border-radius: 10px;
	position: absolute;
	left: 25%;
}


