section#content {
	background-color: #F1E1CC;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 80px;
    color: black;
}
h2#caption {
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 1% 0;
}
ul#citations {
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    width: 60%;
    margin: auto;
    font-size: 18px;
    padding: 1% 0;
}
ul#citations>li {
    padding: 1% 0;
}
ul#citations a {
    color: black;
    text-decoration: none;
}
ul#citations a:hover {
    color: black;
    text-decoration: underline;
}
